<h1>Allrigh lads</h1>
<button type='button' {{on 'click' this.startRecording}}>Record</button>
<button type='button' {{on 'click' this.stopRecording}}>Stop</button>

<video controls playsinline id='hiya-video' {{this.videoRecorder}}>

</video>